* {
  font-family: sans-serif;
  font-weight: 800;
  box-sizing: border-box;
  -webkit-text-stroke: 0.5px white;
  color-scheme: only light;	
}

body {
  background: #ffffff;
  transition: all 1s ease;
  
}

.parent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
}

.parent button {
  /* background-color: #48abe0; */
  border-radius: 70%;
  color: black;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 70px;
  width: 70px;
  box-shadow: 0 4px 4px black;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 25px;
  
}

.parent button:active {
  background-color: #48abe0;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.parent button:not(:first-child) {
  margin-left: 10px;
}

.round-1 {
  background-color: #ff0000;
}

.round-2 {
  
  background-color: #0000ff;
}

.round-3 {
  
  background-color: #ffffff;
}

.round-4 {
  /* border: solid; */
  
}

.round-5 {
  border-radius: 40%;
}

.round-6 {
  border-radius: 70%;
}
